* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  overflow: scroll;
}

#ui {
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
  margin-top: 10px;
  margin-left: 10px;
  min-width: 700px;
  min-height: 600px;
}
